
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;600;700&display=swap');
/* font-family: 'DotGothic16', sans-serif; */
/*  font-family: 'Archivo', sans-serif; */
/* font-family: 'Archivo Narrow', sans-serif; */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0px 48px;
  align-items: center;

  }
.logo{
  width: 195px;
  height: 48px;
  gap:12px;
}
.logo h1{
  font-family: 'DotGothic16', sans-serif;
  font-weight:400;
  font-size: 42px;
}
.function-buttons{
  width: 442px;
height: 32px;
gap: 32px;
display: flex;

}
ul{
  list-style-type: none;
  

}
ul a{
  color:black;
  text-decoration: none;
  font-family: 'DotGothic16', sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.line{
  width: 100%;
  height: 1px;
  background-color: black; 
  margin-top: 10px;
  
}
.main-body{
  padding:48px 48px;
  width: 100%;
}
.article{
  box-sizing: border-box;
  width: 100%;
  padding:96px 0px;
  margin-bottom: 40px;

}
.name-article h1{
  font-family: 'DotGothic16', sans-serif;
font-size: 120px;
font-weight: 400;
text-align: center;
line-height: 120px;
}
.photo{
  padding-top: 50px;
   width:100%;
   box-sizing: border-box;
}
.grid{
  width:100%;
  
  height:1300px;
}
.row-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height:429px ;
  padding: 48px 0px;
  
  
}
.box-design{
  width: 416px;
  height: 333px;
  
  gap:8px
}
.box-design img{
  width: 100%;
  height: 100%;
}
.box-design p:nth-child(even){
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Archivo', sans-serif;
}
.box-design p:nth-child(odd){
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Archivo', sans-serif;
} 
.about{
  padding: 48px 0px;
  height: 300px;
  gap:48px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.about-1 p{
  font-family: 'Archivo', sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 32px;
padding-right: 40px;
text-align: left;
}
.work-about{
  width: 100%;
  height: 900px;
  display: flex;
  align-items: center;
  background: radial-gradient( rgba(255, 255, 255, 0.7),rgba(36, 25, 243, 0.042)) ;
}
.explore{
  width:624px;
  height: 276px;
  top: 312px;
  gap: 48px;
  margin-left: 48px;
}
.first{
  width:624px;
height:180px;
gap: 16px;
}
.first p:nth-child(odd){
  font-family: 'DotGothic16', sans-serif;
font-size: 64px;
font-weight: 400;
line-height: 100px;
letter-spacing: -0.02em;
text-align: left;



}
.first p:nth-child(even){
  font-family: 'Archivo', sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 32px;
letter-spacing: -0.005em;
text-align: left;


}
.button{
  width:176px;
height:48px;
padding: 12px 24px 12px 24px;
gap: 0px;
border-radius: 8px;
opacity: 0px;
margin-top: 80px;
background-color:rgba(36,25,243,1) ;

}
.button p{
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height:24px;
  text-align: left;
  color:white;
}
.explore-image{
  width: 100%;
  overflow: visible;
  position: relative;
  left: -54px;
}
.explore-image img{
  width: 105%;
  height: 105%;
  gap: 0px;
}
.description{
  width: 100%;
  height: 504px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.description p{
  font-size: 48px;
  line-height: 52px;
  font-family: 'DotGothic16', sans-serif;
}
.contactme{
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.useless h1{
  font-size: 28px;
  font-family: 'DotGothic16', sans-serif;
  position: relative;
  top: -20px;
}
.table{
  display: flex;
  width: 900px;
  height: 160px;
  justify-content: space-between;
}
.table li{
  font-size: 17px;
  line-height: 28px;
}
.footer{
  display: flex;
  justify-content: space-between;
  height: 168px;
  align-items: center;
  padding: 96px 48px 24px 48px;
}
.footer h1{
  font-family: 'DotGothic16', sans-serif;
}
.footer button{
  width: 106px;
  height: 48px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
}

 


